[2013-06-07 17:40] kmcurry opened #1 "Add Bridgeborn sponsor to Meetup and other sponsor areas"
Bridgeborn is a sponsor for our Brigade by providing free office space for our Virginia Beach Meetups. Add Bridgeborn to the Meetup sponsor area and elsewhere as appropriate.

[2013-06-10 16:14] kmcurry commented on #1
http://www.meetup.com/Code-for-Hampton-Roads/sponsors/

[2013-06-10 16:14] #1 closed, assigned to kmcurry

[2013-06-12 23:42] kmcurry opened #2 "Request Group User Credential for ePro API"
https://docs.google.com/file/d/18IjtL-Cvrc1hWs9CdbCduLCqrzquGRsyUwXva1yb3m7J53xxBXfEBzlzwT3l/edit?usp=sharing

[2013-06-13 00:54] BretFisher opened #3 "Talk to Jonathan about testing CKAN and compare to DKAN"

[2013-06-13 00:55] BretFisher opened #4 "Finish blog post for CtBD"

[2013-06-13 04:29] BretFisher opened #5 "CBF-Clean: Create user survey"

[2013-06-13 04:31] BretFisher opened #6 "HRT Bus App: Posters"
- [x] Change pitch from marketing a survey about the app to marketing the app
- [ ] Print posters
- [ ] hang posters

[2013-06-13 04:35] BretFisher opened #7 "VBPD: Media strategy"
- [x] meeting minutes http://goo.gl/DMqKk
- [ ] Send CPU an agenda for a meeting with dept social media managers on setting facebook permissions, and hootsuite for social management.
- [ ] Intro to VBPD pagemaster and work on improving pages and resources for CPU offerings
- [ ] Ask Jason about short links, i.e. vbgov.com/cpu

[2013-06-13 16:49] qwo opened #8 "Norfolk Arts District Repo"
Possible Drupal and C4HRVA Repo collaboration for Hack-Night on Norfolk Arts District Project

[2013-06-17 14:01] qwo commented on #8
Issue Resolved
     -New Thread on tasks

-Thanks BretFisher

[2013-06-17 14:01] #8 closed, assigned to nobody

[2013-06-19 22:47] qwo opened #9 "Daily Press Community Calendar"
Daily Press is piloting a calendar widget developed by our friends at Microsoft Research that presents _the most comprehensive_ aggregation of events in HRVA.

Daily Press needs assistance styling the widget.

The most pressing need is use of the widget on the homepage, where the left side is cut off.

(As of this writing it has been replaced by breaking news.)

The other need is the calendar page

[2013-06-19 22:57] qwo opened #10 "Norfolk Visitors Bureau"
James Carroll of HRSBDC (Hampton Roads Small Business Development Center)  and Anthony DiFilippo of the Norfolk Visitors Bureau are interested in consulting for a local app for the local venues.

This would be used to promote local businesses, way finding, and scheduling.

Early dates for meetings are in July.

http://www.visitnorfolktoday.com/

Best suggestions

[2013-06-19 23:03] qwo commented on #10
Email from Jim Carroll about the needs:

When I was at the ASBDC conference in New Orleans last year, the group employed a conference app for everyone to download for free from the Apple app store.  This enabled real-time communications between the user and the organizers, give attendees the ability to schedule their days in advance, provide feedback and critiques as well as a whole host of other

[2013-06-20 01:58] kmcurry opened #11 "VBPD: ePro Visualization"
Use the ePro database API to extract data and transform it into charts and maps. Trends are important. A heatmap over time is desired.

[2013-06-20 01:59] kmcurry commented on #5
For review:
http://c4a.me/cbf-survey

[2013-06-20 02:01] kmcurry commented on #6
Find your bus. Anytime. Anywhere.
http://hrtb.us

[2013-06-20 02:19] kmcurry opened #12 "Hack for Change Submissions"
- Overall
- CBF-Clean
- Norfolk Arts District
- APHIS.info

[2013-06-20 02:36] kmcurry commented on #6
Use this :iphone: to find this :bus:
http://hrtb.us

[2013-06-20 04:13] qwo commented on #6
Naming of the bus as "Where's My Bus" or "Where's my HRT BUS" was also discussed.

![czcqlnf](https://f.cloud.github.com/assets/3683993/679279/cb3c1e62-d95f-11e2-9fd1-47fe55d5b2fb.jpg)

[2013-06-20 04:40] kmcurry opened #13 "HRT Bus App: Press Release"
Write a press release to announce that hrtb.us is live in beta.

[2013-06-20 04:42] kmcurry commented on #11
This should become it's own repo. Keeping it here until such time as one is created.

[2013-06-20 04:47] kmcurry commented on #7
- Engaging Crime Prevention Unit (CPU) volunteers in social media
- Managing group administration of social media accounts
- Publishing a CPU calendar of events

[2013-06-26 23:09] BretFisher opened #14 "Fix broken cbf-clean.meteor.com or find new cbf-clean test"

[2013-06-26 23:26] BretFisher commented on #2
requested via email.

[2013-06-27 00:35] BretFisher commented on #14
seems they no longer like me creating a csv file dynamically, so I guess we'll have to use Modulus.io or something else for test as well.

[2013-06-27 02:04] BretFisher commented on #14
our plan is to use cleanthebayday.net for any major testing during off season, then create a new url like beta.cleanthebayday.net during UAT next spring. This will avoid the issues we're having now with meteor.com (can't write to local csv on server) and prevent spending $15 a month on test-site hosting at modulus.io

[2013-06-27 02:04] #14 closed, assigned to BretFisher

[2013-06-27 04:10] #12 closed, assigned to nobody

[2013-06-27 04:11] #5 closed, assigned to kmcurry

[2013-06-28 02:27] kmcurry opened #15 "Do something with restaurant, hotel and B&B inspection data"
http://www.healthspace.ca/Clients/VDH/VBeach/VBeach_Website.nsf

[2013-07-03 23:29] kmcurry commented on #2
creds in the admin drive

[2013-07-03 23:29] #2 closed, assigned to BretFisher

[2013-07-05 02:26] kmcurry commented on #15
https://classic.scraperwiki.com/scrapers/vb_restaurant_inspections/

[2013-07-17 23:05] #4 closed, assigned to BretFisher

[2013-07-17 23:05] #3 closed, assigned to BretFisher

[2013-07-17 23:09] kmcurry commented on #11
Use the API to create a single page view of "Today's Incidents"

[2013-07-17 23:40] kmcurry commented on #11
Research paper with formula for predictive analysis: https://docs.google.com/file/d/0Bx8yYEGwsr3zM3dLamhMa1lPdEE/edit?usp=sharing

[2013-07-18 00:09] kmcurry commented on #13
Example Press Releases:
https://docs.google.com/document/d/1sY5osRNgk_0kjnJUSQ0t8Eo_rKfTwuULgHejpYbjcbc/edit?usp=sharing
https://docs.google.com/document/d/1a1LX4vSggSeHQkzIKbUfPYh2hXvTX1OBXRWUDS5Nylc/edit?usp=sharing
https://docs.google.com/document/d/1kweKvqPx3lrbFztQvNFF4S59h6aaD2CFNsLzi-mxof8/edit?usp=sharing

[2013-07-19 00:09] BretFisher opened #16 "Create indoc page for newbs"
Lets put ideas and resources here, and once we have enough for a page, we can create it as indoc.c4hrva.us or something.
## Purpose/goals
- three different audiences:
  - people new on meetup.com
  - people new to physical hangout
  - people that stumble to codeforhamptonroads.org and want more info
  - cut down on the number of people thinking we'll teach them how to code. Give them the resources

[2013-07-20 22:06] jalbertbowden commented on #16
i've said it before but i'll say it again, i think adding a humans.txt file would be beneficial for n00bs. i think it would be beneficial for the landing page in general, but in this case getting people experience with github. all they'd have to do is access the the text file, add their information, submit pull request back.

totally agree with pushing web platform.

[2013-07-21 13:39] kmcurry commented on #16
Yeah, the coder-sounds repo at CfA was sort of like humans.txt. All fellows
had to do to earn their track jacket was add a line of text to the file, by
forking and submitting a pull request. +1 to the idea of a simple, discrete
task for "initiation" to the group that is really about teaching the skill.

On Saturday, July 20, 2013, albert wrote:

##

Kevin Curry
Program Director
CfA Brigade
757.613

[2013-07-22 15:41] kmcurry opened #17 "Add CfA CC to Modulus account for billing"

[2013-07-24 15:44] kmcurry commented on #6
Final version for tall poster:
https://docs.google.com/file/d/0B5fMNDGiGLqobExZN3BpNEYzdHM/edit?usp=sharing
Alternate:
https://docs.google.com/file/d/0B_WC8QOgiwjzYV9IWVVnYnFUWms/edit?usp=sharing

[2013-07-24 15:54] kmcurry commented on #6
Pricing from Dominion Printers:

8mm card stock = $3.75 sq ft
10mm card stock = $5.00 sq ft
Vinyl = $5.00 sq ft

LRT Shelter Panel = 26.5" X 38.5"

Rough cost ~
8mm card stock ~ $28 each before tax
10mm card stock & vinyl ~ $36 each before tax

With a $200 budget we could get 5-7 prints. That's not a great ratio. Perhaps we can do better with a different vendor.

HRT Advertising Specs:
https://doc

[2013-07-24 21:12] kmcurry opened #18 "Redirect hrtb.us to new UI and link new UI to map UI"
hrtb.us & go.hrtb.us/busfinder should bring up the interface at http://c4hrva.github.io/hrt-bus-finder/ and the interface at http://c4hrva.github.io/hrt-bus-finder/ should like to the map UI. Not sure if this should be an issue reported in the app repo(s).

[2013-07-24 21:15] kmcurry commented on #13
Beth is working on this issue here:
https://docs.google.com/a/codeforamerica.org/document/d/1UfGOimFisLZsx10XlqRTNnFOqiP4shuiKUmz43l7deI/edit

[2013-07-24 21:17] bschoenfeld commented on #18
The mapping is an open issue in that project - c4hrva/hrt-bus-finder#7

And I'm gunning for it :wink:

[2013-07-25 00:04] bcbarsness commented on #16
I took a little different approach, more specific to a C4HRVA orientation with a procedural flavor, preferably limited to 1 or 2 pages.

https://docs.google.com/file/d/0B9IPjM5DQQ1AXzJhWWd3Qm92Q0E/edit?usp=sharing

[2013-07-26 21:29] jalbertbowden commented on #16
git for humans - add this vid to list http://www.youtube.com/watch?v=gp6v7AXQQTY&utm_content=buffer3e706&utm_source=buffer&utm_medium=twitter&utm_campaign=Buffer

[2013-07-31 14:48] kmcurry opened #19 "Do PR to local media"
- [x] Hearsay with Cathy Lewis
- [x] Hampton Roads Today on NBC
- [x] Daily Press
- [x] Virginian-Pilot
- [x] NSU
- [x] ODU
- [x] TCC
- [x] Thomas Nelson
- [x] Navy

[2013-07-31 22:20] kmcurry commented on #7
https://twitter.com/VBPD
https://twitter.com/VBPDTraffic

[2013-07-31 22:29] kmcurry opened #20 "Write E-mail templates for soliciting local colleges, et al"

[2013-07-31 22:53] jalbertbowden commented on #20
templates: do you mean an html email, as well as the email content? if so, maybe we should start a mailchimp account for the brigade. pretty sure we get x number of emails for free to start, plus i want to say one of the features in localwiki was to start a newsletter, which we could easily incorporate into mailchimp as well. just a thought.

[2013-07-31 23:19] BethFisher commented on #13
Almost finished.  Need quotes.

[2013-07-31 23:20] BethFisher commented on #19
Email content for blast email to riders from school campuses??

[2013-07-31 23:50] kmcurry commented on #20
Content.

[2013-08-01 00:40] BethFisher commented on #19
When media launches, we can do a CfA tumblr post

[2013-08-02 07:13] BretFisher commented on #16
**Big update:** content and your ideas have been moved into a new repo **welcome** that is a GitHub Pages site (using Jekyll) that's viewable here: http://welcome.codeforhamptonroads.org (shortcut: http://welcome.c4hrva.us). Read the [readme](https://github.com/c4hrva/welcome) for more info on how to use. I need to work on better navigation but the framing is there for us to crowdsource the conten

[2013-08-07 23:14] kmcurry commented on #20
https://docs.google.com/a/codeforamerica.org/document/d/1adp-SBN4lmYe84owJ85VerCOfD_niZHusouaE8cvPMA/edit#

[2013-08-07 23:15] #13 closed, assigned to nobody

[2013-09-06 18:41] kmcurry commented on #18
This is ready to close, yes?

[2013-09-06 18:42] bschoenfeld commented on #18
Yep!

[2013-09-06 18:42] #18 closed, assigned to BretFisher

[2013-09-06 18:43] kmcurry opened #21 "Draft Requirement for ePro API Interfaces"
City of Virginia Beach CommIT would like an articulated requirement for what we want from ePro and how we want to get it from an API.

Ex., return JSON from methods such as:

/incident/12345
/incidents/010113-121213
##

[2013-09-09 14:11] BretFisher commented on #21
working the requirements here: https://docs.google.com/document/d/1T8tdOY_4yBSP7orbXMlvEhUjqezqcUz7A72ZrxEWdck/edit?usp=sharing

[2013-11-05 02:48] BretFisher commented on #17
done, and emails go to the org group.

[2013-11-05 02:48] #17 closed, assigned to kmcurry

[2013-11-05 03:08] BretFisher opened #22 "Provide CVB feedback on vbgov.com data that needs "opening""
Hunt down .pdf, .csv, .html, etc. data that we think would be useful in open machine-readable formats (csv, json, xml, api) and send that data back to Bret's contact in ComIT (Kevin Fairley).

Here's a running list for all to add to (or add to this issue): http://goo.gl/1UKHUh
##

[2013-11-05 05:33] BretFisher opened #23 "Write City Job descriptions for C4HRVA volunteers"
developers, designers, data hackers, etc.

City of Virginia Beach gets thousands of volunteers each year, and the way they look for work is through job postings inside the city for volunteer needs.  We should write up what skills we need and give to City's Volunteer Office.
##

[2013-11-07 01:10] BethFisher commented on #23
How 'bout something like this?

CIVIC-MINDED TECHNOLOGISTS
Lend your skills in writing code, developing websites, designing websites, writing copy, creating graphics to help the City leverage its data to create apps and improve communications.
Code for Hampton Roads is a volunteer chapter of Code for America Brigade. Code for America Brigade is an organizing force for local civic engagement ­ a na

[2013-11-07 01:51] BethFisher opened #24 "Norfolk flood zone mapping mobile app"
create a mobile web app for plugging in your address to find out if your property is in a flood zone and if so, which zone.
##

[2013-11-07 01:53] vaslims commented on #24
Test

[2013-11-08 13:00] BretFisher opened #25 "Open Budget"
Sample Sites:
http://lookatcook.com
http://openbudgetoakland.org
- [ ] Learn what data we need from city Budget
- [ ] Catalog and copy (as needed) data on data.codeforhamptonroads.org
- [ ] Get any OSS from sample sites
- [ ] Standup experiments and invite c4hrva team to play

[2013-11-08 15:46] bschoenfeld commented on #25
:thumbsup:

[2013-11-12 03:51] kmcurry commented on #24
How deep is the water where I'm standing if...?

[2013-11-12 03:55] kmcurry commented on #24
This feels like it should be an idea on our UserVoice instead of a task: http://c4hrva.uservoice.com/forums/103669-code-for-hampton-roads I see Open Budget as a task, too. Thinking on it more...

[2013-11-12 03:59] kmcurry commented on #19
Most of these places were contacted and many more. See our spreadsheet. Would be good to follow up with another push.

[2013-11-12 04:03] kmcurry commented on #11
Moved to UserVoice: http://c4hrva.uservoice.com/forums/103669-code-for-hampton-roads/suggestions/4961697-design-better-ways-to-use-crime-accident-and-othe

[2013-11-12 04:03] #11 closed, assigned to nobody

[2013-11-12 04:04] kmcurry commented on #6
Bringing flyers to our meetup this week.

[2013-11-12 04:31] kmcurry commented on #9
I think this is being covered through the collaboration we facilitated between Daily Press and Microsoft Research. The calendar site is evolving without our attention. There are some great filters, too. Try Poetry and Emergency Management. Something every night. There's always more that can be done with local calendars for sure.  Put new calendar ideas in the UserVoice. Some usability issues on th

[2013-11-12 04:31] #9 closed, assigned to nobody

[2013-11-12 04:31] #19 closed, assigned to nobody

[2013-11-12 04:32] kmcurry commented on #15
Probably belongs on the UserVoice as an idea

[2013-11-12 04:46] kmcurry opened #26 "Catalog VB Commissioner of Revenue Business License Data"
Commissioner of Revenue already publishes Excel spreadsheets of business license data:

https://www.google.com/search?q=filetype:xls+site:vbgov.com

Catalog these data sets in our data portal using either manual or programmatic means.

This is a simple task for any member: for each found file, enter it through the input forms on the data portal. All you need is an account on the data portal and ti

[2013-11-13 17:47] bschoenfeld commented on #25
Probably should be it's own task, but we should do this for HRT's budget too. It would be interesting to see where funding comes from, how it has changed over the years, and how it stacks up against ridership.

I know that Dave Forster, the transportation reporter for the Pilot, would be interested in having better access to this data for articles like this - http://hamptonroads.com/2013/11/tide-r

[2013-11-13 19:38] kmcurry commented on #25
:thumbsup:

re: "Probably should be it's own task,"

Yeah and also interesting to consider there are types of distinct, major budgets: city, school division, transportation authority, etc.

Is there published data that we can catalog in the data portal, liberate from PDFs and and hack on tonight?

[2013-11-13 19:55] jalbertbowden commented on #25
published city or hrt data? hrt data i believe is on hrt dash

On Wednesday, November 13, 2013, Kevin Curry wrote:

##

J. Albert Bowden II

jalbertbowden@gmail.com

http://bowdenweb.com/

[2013-11-13 20:10] bschoenfeld commented on #25
There is data to be liberated!

[Finance Data](http://www.gohrt.com/hrt-public-records/finance-documents/) - details how service in each city is funded.

[Operations Data](http://www.gohrt.com/hrt-public-records/operations-documents/) - Daily on time performance by route, daily ridership numbers by transit mode, accidents, maintenance, and customer complaints (2012 data categorizes complaints)

[2013-11-14 04:23] kmcurry commented on #26
Like this:

http://data.codeforhamptonroads.org/dataset/city-of-virginia-beach-commissioner-of-revenue-business-licenses

[2013-11-27 00:03] #6 closed, assigned to nobody

[2013-11-27 00:03] #20 closed, assigned to nobody

[2013-11-27 00:15] kmcurry opened #27 "Code Across Communications"
- [x] Draft save the date
- [x] Eventbrite [CodeAcrossHR](codeacrosshr.eventbrite.com), shorturl is http://bit.ly/cahr2014
- [x] Media and Design - codeacross 2014 and localized event media
- [x] CodeforhamptonRoads Page temp: http://code-across-2014-c4hr.azurewebsites.net (page auto-deploys the [code-across-2014 branch](https://github.com/c4hrva/c4hrva-landing/tree/code-across-2014) of the landin

[2013-11-27 00:16] kmcurry opened #28 "Code Across Events"
- [x] Research + nominate 3-5 venues
- [x] Research + nominate 2-4 caterers

[2013-11-27 00:17] BretFisher opened #29 "Code Across Fundraising"
- [x] Send out save the date to potential funders
- [x] Create landing page for "selling" the event to potential donors (http://startbootstrap.com/stylish-portfolio) and link/embed donation page (https://secure.codeforamerica.org/page/contribute/2013-annual-campaign)
- [x] List of prizes we want them to fund/provide
- [x] Branch landing page with CA and donors highlighted https://github.com/c4hrva

[2013-11-27 03:17] kmcurry commented on #28
nauticus
waterside
adv tech ctr
cruise terminal

[2013-11-27 03:17] kmcurry commented on #28
gourmet gang
food trucks

[2013-12-13 04:43] kmcurry commented on #27
@BretFisher I see that the branch is for a Code Across update to the homepage. For codeacross.codeforhamptonroads.org do we create a new repo and gh-pages just like welcome?

[2013-12-13 17:02] qwo commented on #27
I'm unfamiliar with hover and how the current subdomain scheme works for http://welcome.codeforhamptonroads.org

I'm attempting to mimic it currently.

I created a codeacross repo and linked the cname @ https://github.com/c4hrva/codeacross and linked it to  http://codeacross.codeforhamptonroads.org

Not trying to reinvent the wheel but I'd be up for creating a stand-alone hack-a-thon landing page.

[2013-12-13 17:41] jalbertbowden commented on #27
grab berlin.js theme. i have starred a few nice themes for small sites, but
that one ive been staring @ in particular for a long time

On Friday, December 13, 2013, Stanley Zheng wrote:

##

J. Albert Bowden II

jalbertbowden@gmail.com

http://bowdenweb.com/

[2013-12-13 20:14] BretFisher commented on #27
We have multiple needs here.  Give me a few hours to finish work and I'll
break this out with tasks/details in this task and on emails.  Thanks for
helping yo!

On Fri, Dec 13, 2013 at 12:41 PM, albert notifications@github.com wrote:

[2013-12-15 05:13] BretFisher opened #30 "App Idea: Find Your First Responders"
need:
how do you know where your likely first responders come from?
how could you thank them?
how do you know which rescue squad is yours, esp for donating to?

potential solution:
maybe rescue squad focused, maybe all first responders...

web app, using location data or manual address, shows you the most likely responders, particularly fire/rescue. options from there are:
thank them (sends a snaz

[2013-12-15 05:14] BretFisher commented on #30
Kevin's response: The folks at Recovers.org and #crisiscommons might know more. Any potential, local champions in the the emergency response community that you know?

Melissa's response: Let me know if you need contacts for this. Also, Public Safety has their own GIS guy, He’s awesome.

[2013-12-15 18:32] BretFisher commented on #27
@stanzheng  to point subdomain to a github repo, you have to:
1. create `gh-pages` branch in repo and use that to update content (basically ignoring or deleting master branch)
2. create `CNAME` file to tell github to accept the DNS you changed and send it to `gh-pages` branch
3. update hover.com DNS (something I normally do) to point the A record codeacross to github pages IP address

by the looks

[2013-12-15 18:40] qwo commented on #27
I'd be up for using the existing c4hrva landing branch. would it cause
complexity on the end of creating it as a fork on the landing page for
other brigades who have forked the page.

it seems very much like semantics since a branch can become its own repo
later on.

In all I get your point, using the current style than a complete overhaul.

If you can point http://codeacross.codeforhamptonroads.o

[2013-12-15 19:13] BretFisher commented on #27
I wouldn't worry about forking. Hasn't stopped others in past. I also don't
require any of you to fork this code just edit things on the code across 14
branch

With my recommended changes there are no DNS entries needed. Let me
clarify, the code across 14 branch is a testing and development branch
only, and will be merged into the gh-pages branch once were ready to go
live with our changes. The Az

[2013-12-15 19:40] qwo commented on #27
ok cool. makes sense.

 the only issue i had was i've had experience primarily with Bootstrap 3.

I will try to work it out. Thanks Bret

On Sun, Dec 15, 2013 at 2:13 PM, Bret Fisher notifications@github.comwrote:

##

Stanley Zheng
B.S. Comp Sci ODU '14
Cell: (347)-399-3732
@stanzheng

[2013-12-17 13:43] kmcurry commented on #26
Closing until further action is needed

[2013-12-17 13:43] #26 closed, assigned to nobody

[2013-12-17 14:18] kmcurry commented on #25
We received data from the city in 3 Excel files:
- All Expenditure FY IDK, File too big to open (10.4MB)
- All Revenues FY09 - FY14 (2MB)
- All Positions FY10 - FY14 (103K)

Per @jalbertbowden's comment on a C4HRVA email thread, these files are too big to upload to our CKAN. It looks like OpenBudget Oakland might be using CKAN as the catalog but the data are stored in Socrata. I'll try to check on

[2013-12-17 14:21] kmcurry commented on #25
Hmm...I seem to have just uploaded the largest file:

http://data.codeforhamptonroads.org/dataset/city-of-virginia-beach-budget/resource/6f37ffb3-a265-4e26-bb61-318ea0937900

Only there's no handler for xlsx (and also the data are formatted in the file for budget view/print)

[2013-12-17 21:58] bschoenfeld commented on #30
A good starting point for this app may be [Code for Boston's Pantry Pickup App](http://www.pantrypickup.org/). Their app helps people find and donate food to near-by food pantries. I was thinking of spinning that app off to do animal shelters, but this idea could work too. Possible that this could end up looking like CfA's adopt-a effort. There could be a series of donate-to apps.

[2013-12-17 23:19] jalbertbowden commented on #25
are these uploaded in google drive?

how can i access the big files?

On Tue, Dec 17, 2013 at 9:21 AM, Kevin Curry notifications@github.comwrote:

##

J. Albert Bowden II

jalbertbowden@gmail.com

http://bowdenweb.com/

[2013-12-18 23:14] #10 closed, assigned to nobody

[2013-12-20 10:56] qwo commented on #25
I took some of the data that Kevin got and broke them down.
https://github.com/stanzheng/openbudgetvb
Theres Revenue & Expenditures for 2009-2014 and Position (guessing specific department pay) for 2010-2014.

Trying to find a smartway to parse this info maybe worth while. A lot of the documents are marked up with
"Gov Max 5"

Some googling reveals its an OMB standard passed in for city and counti

[2013-12-20 15:06] jalbertbowden commented on #25
where is all of this data? google drive?

i would hesitate doing anything until openbudget people respond. if they
ever do. the trick is for me not to inquire, then something will actually
happen.

On Fri, Dec 20, 2013 at 5:56 AM, Stanley Zheng notifications@github.comwrote:

##

J. Albert Bowden II

jalbertbowden@gmail.com

http://bowdenweb.com/

[2013-12-20 15:44] BretFisher commented on #25
I would hesitate to hesitate :)  Experimentation is key.

On Fri, Dec 20, 2013 at 10:06 AM, albert notifications@github.com wrote:

[2013-12-20 15:53] jalbertbowden commented on #25
experimentation is key, but not when you already have a repo you are going
to fork and use.

go ahead and experiment....learn something. my point is that i wouldn't
waste too much time parsing/displaying any of the data...that's already
been done. just needs to be plugged in.

stanley's investigation is following a route similar to mine....there's a
method to all of this...we somehow are just not

[2013-12-20 16:06] BretFisher commented on #25
the csv's came from a product called govmax. VB Budget office gave us
something they thought might be useful. They are new to this to, so it's up
to us to decide what we can do with it, and what else we should ask them
for. i doubt there is some all wonderful standard here that allows for plug
and play. we need to figure out what we want to do with the data, what
questions we want to answer, and t

[2013-12-20 16:58] qwo commented on #25
Hey Albert.

The data currently lies on the data portal. http://data.codeforhamptonroads.org/dataset/city-of-virginia-beach-budget
They're in .xlxs and i broke them into single sheet csvs and labeled them.

Oakland's data is @ http://data.openoakland.org/dataset/city-of-oakland-budget/resource/eb483353-7556-4169-859d-4805eb25b2b4
There Tools/Some Documentation is @ http://openbudgetoakland.org/too

[2013-12-20 21:09] kmcurry commented on #25
I uploaded the 3 spreadsheets to:

http://data.codeforhamptonroads.org/dataset/city-of-virginia-beach-budget

Stanley also converted them to CSV and put them in github.

But they are both still in a report layout format. That's the real rub.

On Fri, Dec 20, 2013 at 10:06 AM, albert notifications@github.com wrote:

##

Kevin Curry
Advisor, Civic Hacker
Code for America
http://brigade.codeforameric

[2013-12-20 23:50] qwo commented on #25
@kmcurry  I guess you mean the data portal?

It'd be interesting to contact the vendor if appropriate, if it can be exported unstyled/non-report csv's

Edit: Misread, thought you meant add them to the dataportal. disregard

[2013-12-21 00:20] jalbertbowden commented on #25
huh....my bad. i knew those were there. i took a quick glance at stanley's
repo and thought i saw different data.
i converted all of them into a few formats and threw them up in drive
awhile ago, pretty sure i shared it with ya'll

i've been holding out hoping someone in the know in oakland's open budget
would point out whatever standard is being used...clearly that ain't the
case.

the data i've

[2013-12-21 00:52] bschoenfeld commented on #25
Re you bringing it in the past, it's coming up now for a few reasons. We
got a gov partner, we are thinking about using the topic for a code across
challenge, and Stanley is considering doing an independent study around it.
I don't think there was anyone who had an cycles to spend on it before now.
That being said, I'm glad you've already poured so much work into it. If we
do it at code across, i

[2013-12-21 02:22] qwo commented on #25
The CSVs aren't the issue, I believe ckan offers some  data rest points
within the service.

The CSVs are chalked up with irregular formatting because these .xls were
formatted to look good on reports (headers, indentations, styling)

The position data looks good,

https://github.com/stanzheng/openbudgetvb/blob/master/position/FY10_Position.csv

It looks almost readable, each office has an associa

[2013-12-21 02:38] jalbertbowden commented on #25
i was writing a response but i'll put that on hold....

i didn't say that the csv's were an issue, i said there's a csv to api
library we could implement, to interact with the static format on the web.
i'm sure tie it into d3 thats already in open oakland.

also, has anyone considered the different localities here? openbudgetvb is
the repo....we are hrva. so we doing x number of these?

On Fri, De

[2013-12-21 03:51] jalbertbowden commented on #25
i'm setting this email i been working on into my drafts and i'll address
other thoughts later.

my primary thought at this moment is that we already have this data. i've
said that a million times. so here's a million and one: i have collected
all of the available hrva budget data that is online. and i've converted
all of it into multiple formats.

we do not need a government connection, an indepen

[2013-12-21 05:44] BretFisher commented on #25
This is all great stuff. I didn't realize Albert's level of effort, that's
awesome. We should capture that in our next Volunteer Hours report to VB.

I like the idea of just "stumbling" forward until we find guidance from
others who have paved the way. In my head I imagined it sort of going down
like this:
- we reverse engineer cook and oakland and match the govmax output we
  got from VB until we

[2013-12-21 15:54] jalbertbowden commented on #25
that only adds to my frustration that you don't have time for the project.

i do. and i have.

you guys couldn't be bothered earlier with open budget.
then you can't be bothered to talk to me about it, even though i'm the only
one actively involved in it.
now you want to make decisions in regards to it.
but oh wait, you have no time.

again, i have all the time in the world.

i share everything i

[2013-12-21 16:24] qwo commented on #25
Albert I along with everyone appreciate your enthusiasm and contribution to
this project.

As in regards to openoaklands code.

Much of it is similar to mbostock's d3 treemap. I see a lot of the oakland
code pointed to a 'treemap.js'.

We talked about a shared tech implementation last night.

Hopefully by the end of the weekend I can get a rudimentary treemap by
shaping some of the data we have ex

[2013-12-21 18:02] jalbertbowden commented on #25
that addresses nothing i touched on.

thanks for coming out

On Sat, Dec 21, 2013 at 11:24 AM, Stanley Zheng notifications@github.comwrote:

##

J. Albert Bowden II

jalbertbowden@gmail.com

http://bowdenweb.com/

[2013-12-21 18:16] qwo commented on #25
I'm trying to address your search for an open oakland template.

 using oakland's template, all that needs to be done, and has needed to be

According to this.
http://blog.okfn.org/2013/04/29/open-budget-oakland-and-openspending/

I found OpenSpending and realized, with envy and relief, that what we

I was suggesting uploading it to openspending and trying to use their
dataviz tools, because it se

[2013-12-21 18:37] jalbertbowden commented on #25
im not searching for an open oakland template. but i am repeating myself
again. and again. and yet we all know that inevitably somehow you all will
magically forget, in unison, that i said anything.

thats not a coincidence and im not paranoid.

On Saturday, December 21, 2013, Stanley Zheng wrote:

##

J. Albert Bowden II

jalbertbowden@gmail.com

http://bowdenweb.com/

[2013-12-21 21:17] BretFisher commented on #25
Albert, I'm not aware that I made any decisions on open budget. My prior
post was simply to help give an example of how we might be successful given
the current landscape. I'm happy to support others efforts if you feel we
need to go in a different direction. My impression was you had lots of
effort put into cleaning up data but were looking for a bigger picture of
how it all fits together, which

[2014-01-09 02:15] BretFisher commented on #29
**Costs to Cover**
Heavy Hors D'oeuvres Friday Night
Beverages Friday Night
Breakfast Saturday
Lunch Saturday
Dinner Saturday
Displays/Signs/Printing

**Door Prizes**
[Raspberry Pi Starter Kit](http://www.makershed.com/Raspberry_Pi_Starter_Kit_p/msrpik.htm)

**Medium Prizes**
Nexus Tablets (for testing!)
Adobe Creative Suite

**Big Prizes**
[Yoga 2 Pro $999](http://www.bestbuy.com/site/ideapad-yog

[2014-01-09 02:54] kmcurry commented on #29
I'm editing the list in @BretFisher's comment so it doesn't get split up.

[2014-01-09 12:59] bschoenfeld commented on #29
I thought we had a spreadsheet for this

https://docs.google.com/spreadsheet/ccc?key=0ApfMNDGiGLqodHlIalpoc1c0LU1ROW80VGFhOWxvRVE&usp=docslist_api

On Wednesday, January 8, 2014, Kevin Curry wrote:

[2014-01-09 13:49] kmcurry commented on #29
Sorry, boss. Was just following your lead here. Right you are.

On Thu, Jan 9, 2014 at 7:59 AM, Ben Schoenfeld notifications@github.comwrote:

##

Kevin Curry
Advisor, Civic Hacker
Code for America
http://brigade.codeforamerica.org

Let's CodeAcross together this February 21-23:
http://www.codeforamerica.org/codeacross

[2014-01-22 19:21] kmcurry opened #31 "Add Hatch to Meetup Sponsors"
Add the Hatch logo to the Meetup sponsors with a link. If possible, reorder venue partners to: Hatch, ECPI, Bridgeborn.

[2014-02-16 00:54] BretFisher commented on #31
done

[2014-02-16 00:54] #31 closed, assigned to qwo

[2014-02-16 00:54] BretFisher commented on #29
done

[2014-02-16 00:54] #29 closed, assigned to BretFisher

[2014-02-16 00:55] BretFisher commented on #27
done :)

[2014-02-16 00:55] #27 closed, assigned to qwo

[2014-02-16 00:56] BretFisher commented on #28
done :)

[2014-02-16 00:56] #28 closed, assigned to BethFisher

[2014-04-23 22:22] kmcurry opened #32 "Ask about CfA Smarty Streets license for Brigades"
cc @ttavenner

[2014-04-24 12:27] jalbertbowden commented on #32
we are good on that. i just need to complete the registration.

[2014-07-07 14:33] BretFisher commented on #16
[Welcome site](http://welcome.c4hrva.us) is nearly a year old, and continues to see content added. Mission accomplished.

[2014-07-07 14:33] #16 closed, assigned to nobody

[2014-07-07 14:40] BretFisher commented on #25
Budget now has it's own repo https://github.com/c4hrva/look-at-virginiabeach where ideas and thoughts should go.

[2014-07-07 14:40] #25 closed, assigned to nobody

[2014-07-07 14:41] BretFisher commented on #15
multiple repo's working on this idea.

[2014-07-07 14:41] #15 closed, assigned to nobody

[2014-07-07 14:42] BretFisher commented on #7
VBPD Seemed to have killed this effort. We'll re-open if they re-engage.

[2014-07-07 14:42] #7 closed, assigned to nobody

[2014-07-16 21:24] bschoenfeld opened #33 "Idea: Tunnel Closing Graphic"
I hope everyone knows about [Nikki Sylianteng's Parking Sign Redesign](http://nikkisylianteng.com/project/parking-sign-redesign/). It's great.

I just saw the latest press release from ERT about the tunnel closing schedule and it's awful. Maybe we can do something like the parking sign redesign. Any designers want to take a shot at it?

![screen shot 2014-07-16 at 5 23 03 pm](https://cloud.githubu

[2014-07-16 22:27] qwo commented on #33
first time hearing about it

@aureately take a look at this! Do you know any friends that would be interested in this?

[2014-07-17 00:55] ttavenner commented on #32
This is thoroughly closed. We have an account with him.

[2014-07-17 00:55] #32 closed, assigned to kmcurry

[2014-07-17 12:47] qwo commented on #33
i think also @aimsrandom took a look at this at hacknight.

Since the time schedule is short and its starting in 5 days? why dont we make a website.

Isthetunnelclosed.com
- [ ] YES
- [ ] NO
- [ ] YES ... - Will be closed within the hour.

i think you pitched this before @bschoenfeld

[2014-07-17 12:53] bschoenfeld commented on #33
That's not a bad idea. I was also thinking of making a graphic that could
be released to the press as a substitute for what they sent out. Maybe a
calendar makes the most sense. But I was thinking maybe a graphic
representing the tunnels and all 4 lanes (maybe from above) with the sides
labeled Portsmouth and Norfolk and then overlay the weeks and weekends or
whatever makes sense and use red and g

[2014-07-17 20:37] jalbertbowden commented on #33
http://thenounproject.com/term/bridge-damaged/4362/
http://thenounproject.com/term/bridge-destroyed/4363/
random implementation..i reckon for desktop: http://adib.typepad.com/blog/images/2008/03/25/icon_closec.jpg

[2014-07-18 01:19] qwo opened #34 "New Gravatar Icon for Organization"
Hi,

I'm not sure if this is a long standing github outage issue but the gravatar is still down. reuploading it could be ideal or what?

best,

[2014-07-18 02:10] BretFisher commented on #34
what do you mean?
![code_for_hampton_roads__norfolk_virginia_beach_](https://cloud.githubusercontent.com/assets/792287/3621842/9ff66c20-0e20-11e4-8b8a-dee0fa93d9fb.png)

[2014-07-18 02:35] qwo commented on #34
I guess it must just be, closing
![screenshot 2014-07-17 22 33 06](https://cloud.githubusercontent.com/assets/3683993/3621981/2296debe-0e24-11e4-97bc-3b48333b4945.png)

[2014-07-18 02:35] #34 closed, assigned to nobody

[2014-09-11 04:56] BretFisher opened #35 "Start a Newsletter for local brigade"
@nameispete and Anne are taking lead on sending out regular newsletters. After much discussion this is what was decided for now:

Also, sorry if there was an impression previously that I was :-1: on all this, but I’m a :+1: now that we've worked through some ideas and possibilities. Especially now that we've figured out how to reduce duplicate work for members. I'm excited.
## Newsletter motto “ju

[2014-09-11 12:18] bschoenfeld commented on #35
This is great. I'm definitely +1 on this and would be happy to contribute
when possible.

On Thu, Sep 11, 2014 at 12:56 AM, Bret Fisher notifications@github.com
wrote:

[2014-09-11 14:06] BretFisher commented on #35
Shortcut to signup for newsletter: http://signup.c4hrva.us

@kmcurry do we still want all those categories? They are nice to have, but it makes the form a little more "intimidating". Also, when we add the signup to our homepage, it won't ask for anything but email, FYI.

[2014-09-11 16:43] nameispete commented on #35
So, we have that "prototype" that Anne and I worked on. I'll try to figure out how to link it.

I see the newsletter as being a looked-forward-to digest of sorts. Obviously with news, but also "Call to Arms" asking for specific help from technical and non-technical readers.

I am also interested to see if there is anybody out there who wants to do a "code-tip" as a feature below the fold. I've got

[2014-09-11 18:19] TotoroMojo commented on #35
If anybody would like to send us projects in need of attention we would include them in a sort of call to arms section.  We will use this moving forward, so if a projcet is in need of beta testing or php development, etc.  let us know and we can include the project in the upcoming edition.

[2014-09-11 18:28] kmcurry commented on #35
Put out a call to make a web video PSA for HRTB.us

On Thu, Sep 11, 2014 at 2:19 PM, Anne Tyrrell notifications@github.com
wrote:

##

Kevin Curry
Virginia Beach, VA
http://www.linkedin.com/in/kevincurry

[2014-09-18 00:52] kmcurry commented on #35
Typical Format:
- Feature Story
- Spotlight on a brigade member or project
- Spotlight on local relevant news item
- Spotlight on another brigade
- Upcoming events (ours and others')

[2014-10-02 05:28] BretFisher commented on #35
As you can see at top of this issues checkboxes, the tasks are finally getting knocked out. Everyone here should have their mailchimp invite to write content, the signup link (http://signup.c4hrva.us) is now listed everywhere I could put it, and tonight I invited the Google Group to signup. We can do the same for meetup next week.

Tomorrow at 2pm an email will go out to the ~130 existing mailchim

[2014-10-02 13:11] nameispete commented on #35
We do have a template. It’s unfortunately on a separate mailchimp account that I set up before getting access to the offiicial one. I am really psyched to hear that progress has been made without us. I think the newsletter is a very worthy idea and it's great to hear that the ball wasn't dropped simply because @TotoroMojo  and I were absent.

Sorry that we’ve been absent We’ve had guests and work

[2014-10-02 14:44] BretFisher commented on #35
Peter we can still use your template!  In your mailchimp you can click down
arrow next to template to export, then in our account when we create a new
template choose “code you own” to import it.

Can you do that before next week so @venisebaxter can start putting her
content into it?

On Thu, Oct 2, 2014 at 9:11 AM, Peter Tyrrell notifications@github.com
wrote:

[2014-10-08 21:16] nameispete commented on #35
[ It's crazy here... we moved back to the east coast to be closer to friends and family... I did not realize how many visiting people that entailed... ]

Here is the template:

https://us9.admin.mailchimp.com/templates/share?id=32564606_5b5a804928402eea9d58_us9

You can import it directly into MailChimp just by using that link.

[2014-10-08 21:27] BretFisher commented on #35
Great, thanks. @venisebaxter, here's their template in our account if you want to use it: https://us3.admin.mailchimp.com/templates/edit?id=120629

[2014-10-08 23:35] qwo opened #36 "Fixed Tasks"

[2014-10-08 23:39] BretFisher commented on #36
I think this is a great idea!

[2014-10-08 23:39] qwo commented on #36
OK so i fixed, this by making it private/reopened it so it didn't have the 30 watchers problem.

[2014-10-08 23:41] #36 closed, assigned to nobody

[2014-10-08 23:57] qwo opened #37 "Idea: Swapping out the landing site."
the two features i like are the projects list and the issue list.

@BretFisher how are your feelings with making it live?

there are some of the tasks that need to be done before htis is live
- [x] swap image
- [x] news letter button
- [ ] more sollicite feedback
- [ ] github projects page url

http://c4hrva.github.io

[2014-10-09 01:33] qwo opened #38 "Open Data list site"
@wbprice could use  for dominion hackathon.

still running and exists

edit forgot to link: http://hropendatalist.meteor.com/

[2014-10-09 07:49] BretFisher commented on #37
I like it, short and sweet. I wish we we're tracking engagement in Google
Analytics for clicking meetup or newsletter so we could compare after
switching to this, but that's not a reason to delay. Let me take a deeper
look at it. I'm seeing some things we may need to add/remove. GOOD WORK +1

On Wed, Oct 8, 2014 at 7:57 PM, Stanley Zheng notifications@github.com
wrote:

[2014-10-09 19:32] bschoenfeld commented on #35
Where are we planning and organizing newsletter content? I just realized that the 29th is the one year anniversary of the bus app. By that time, we will have 150,000 page views, 35,000 sessions, and 6,000 users over our first year.

[2014-10-09 19:33] kmcurry commented on #35
Could do a special edition for that.

On Thursday, October 9, 2014, Ben Schoenfeld notifications@github.com
wrote:

##

Kevin Curry
Virginia Beach, VA

3Scape begins @ http://3Scape.me

[2014-10-10 00:03] BretFisher commented on #35
Yea been thinking about the "collaborative content" problem of this newsletter and Mailchimp doesn't really solve that. We could do it here (new issue or this one) and mention @venisebaxter who's taking the lead on content atm. I'm happy to give a Mailcimp account to anyone who wants to add it in directly as well.

[2014-10-10 00:09] venisebaxter commented on #35
I sent a newsletter, with content, to Kevin and Bret for approval. Check your emails!!

Venise Baxter
Project Manager
p. 757.351.8312
venise.baxter@homes.com

[2014-10-10 00:23] kmcurry commented on #35
ship it!

On Thu, Oct 9, 2014 at 8:09 PM, venisebaxter notifications@github.com
wrote:

##

Kevin Curry
Virginia Beach, VA

3Scape begins @ http://3Scape.me

[2014-10-10 00:25] venisebaxter commented on #35
I can't! You two are the only ones with that permission!

Venise Baxter
Project Manager
p. 757.351.8312
venise.baxter@homes.com

[2014-10-10 00:27] BretFisher commented on #35
I think it's great for a first release. _I'm looking it over now._  Main concern is about consistent branding. People never get our name right and the abbreviation is too hard for veterans to get right.

It Says "Code4HRVA" at top. Then mentions C4HRVA and Code for Hampton Roads later.

[2014-10-10 00:50] BretFisher commented on #35
I just changed Code4HRVA and C4HRVA to Code4HR in the newsletter. This whole branding thing has been bugging me a while. Our new twitter is CodeforHRVA, github C4HRVA, facebook is codeforhamptonroads.

Could we consolidate those all to one-single-name?  Why not Code4HR. Skip the VA, spell out the code.  Thoughts? (we don't need to decide this for shipping newsletter, but would like to improve our

[2014-10-10 00:52] BretFisher commented on #35
We could use that same Code4HR name on twitter/facebook/domain/github/hashtag/ggroup/etc.

[2014-10-10 00:54] kmcurry commented on #35
JFDI

On Thursday, October 9, 2014, Bret Fisher notifications@github.com wrote:

##

Kevin Curry
Virginia Beach, VA

3Scape begins @ http://3Scape.me

[2014-10-10 00:57] wbprice commented on #35
Dig it. Do it.

[2014-10-10 01:05] BretFisher commented on #35
OK newsletter decided it was best to send tomorrow at 4pm for "maximum engagement" so it's scheduled. Thanks ALL. I'll work on mailchimp permissions and the other branding later. Can someone change the twitter handle?

[2014-10-10 01:07] wbprice commented on #35
@venisebaxter <- social media expert.  Says so on her LinkedIn.

[2014-10-10 01:07] venisebaxter commented on #35
Working on it

Venise Baxter
Project Manager
p. 757.351.8312
venise.baxter@homes.com

[2014-10-10 01:16] venisebaxter commented on #35
I only have access to the Twitter and Facebook, both are changed.

Venise Baxter
Project Manager
p. 757.351.8312
venise.baxter@homes.com

[2014-10-10 02:33] BretFisher commented on #35
Yea, one name to rule them all !! :100: !!
http://code4hr.org
http://meetup.com/code4hr
http://facebook.com/code4hr
http://twitter.com/code4hr
http://github.com/code4hr

Shortcuts:
http://docs.code4hr.org
http://forum.code4hr.org
http://meetup.code4hr.org
http://signup.code4hr.org
http://tasks.code4hr.org
http://www.code4hr.org

One issue I'll need to email everyone about, is their local git repo'

[2014-10-10 04:09] BretFisher opened #39 "Stale UserVoice Ideas List"
@kmcurry @stanzheng @wbprice

I feel like no one uses [this](http://c4hrva.uservoice.com/forums/103669-code-for-hampton-roads), and it gets lost in all the github shuffle, esp. since this task list was created.

Sure the upvoting and stuff is easier for non-githubers to understand, but we don't talk about it meetings, etc.  I just created a "New Idea" Label here that we could direct people to use

[2014-10-10 04:28] BretFisher commented on #37
So the CFAPI dumps our project list from github right now. It could use a
google sheet like they link to on the project page of this repo, but it's
not using that yet.

Looks like you created this sheet
https://docs.google.com/spreadsheet/ccc?key=0AnyyYdD_lUkrdHlNRm9XS1NZRGtfTUFDLWJkUllhcGc&usp=sharing?
and once we update it using this CFAPI standard
https://github.com/codeforamerica/cfapi#project

[2014-10-10 14:47] kmcurry commented on #39
Unsure. I understand no one uses UV but it's not a tool problem and I don't
see a need to close UV and/or make a "switch" to something else no one will
use. Or maybe it will be used but only by GitHubbers and therefore narrow
pool for ideas. No reason to not also use the New Idea label in
GitHub though. They are just separate things. And it's not a tool problem
anyway. Sourcing and curating ideas

[2014-10-10 16:32] qwo opened #40 "Link old domain"
Old website http://codeforhamptonroads.org/ should point to -> code4hr.org

 also old codeforvb.org

[2014-10-10 18:28] BretFisher commented on #40
Yea, they do. hover is not working. gonna have to get their support involved.

[2014-10-10 18:39] BretFisher commented on #40
partially fixed. working on www.

[2014-10-10 18:40] qwo commented on #39
@kmcurry a popular activity i learned at summit for people just getting started who are new are idea brainstorming sessions.

Maybe the task could be make the idealist more visible since it is too buried and added to the 15 minute intro for new civic hackers.

[2014-10-10 21:24] BretFisher commented on #40
only thing not working is www.code4hr.org and have a support ticket into hover.com for that.

[2014-10-11 18:14] #38 closed, assigned to nobody

[2014-10-11 18:14] qwo commented on #37
yes @BretFisher exactly, that is the todo i forgot to add, the curated list was something i was trying to work on last hack night.

The projects cfapi dump takes a while if its a bunch of files like they had.

[2014-10-12 16:55] BretFisher commented on #40
OK learning that hover.com kinda sucks for cloud computing where you need CNAMES on apex domains. In the future I will be moving everything to dnsimple.com

[2014-10-12 17:35] #40 closed, assigned to BretFisher

[2014-10-12 23:55] qwo commented on #40
+1 for dnsimple!

[2014-10-17 05:25] nameispete commented on #35
Like the change of Brand CODE4HR!! I like the newsletter!

[2014-10-17 12:04] venisebaxter commented on #35
Yay, I'm glad to hear that

On Fri, Oct 17, 2014 at 1:25 AM, Peter Tyrrell notifications@github.com
wrote:

##

Venise Baxter
_Project Manager_
p. 757.351.8312
venise.baxter@homes.com[image: Homes.com] http://www.homes.com/
[image: Homes Pro Facebook Fan Page]
https://www.facebook.com/HomesPro [image:
Homes Pro Twitter Page] http://twitter.com/#%21/HomesPro [image: Industry
trends from the HomesPr

[2014-11-01 16:05] qwo opened #41 "Newsletter Link incorrect"
The embedded twitter link in the news letter is incorrect

"Join Code for Hampton Roads at our Meetups!: http://www.meetup.com/code4he" <

@BretFisher could you tweak it, im not set up on mailchimp yet

[2014-11-02 22:26] BretFisher commented on #41
fixed that and a few other old links.

[2014-11-02 22:26] #41 closed, assigned to nobody

[2014-11-03 04:00] BretFisher opened #42 "Add `help wanted` to issue tags of popular repos"
That tag now gets picked up by CfAPI for civic issue tracker.
##

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/5724776-add-help-wanted-to-issue-tags-of-popular-repos?utm_campaign=plugin&utm_content=tracker%2F152477&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campai

[2014-11-05 23:44] #37 closed, assigned to nobody

[2014-11-12 18:04] wbprice opened #43 "Homelessness Resources"
Would be interesting to build something akin to http://sheltr.org/ for Hampton Roads.
- Audience would be people experiencing homelessness or people who want to help, but don't know where shelters/foodbanks are.
- MVP would be an SMS endpoint taking a location code (provided by sticker?) and returning nearest shelter/food locations.
## Partners
- Cities
  - City of Norfolk is interested in helping

[2014-11-12 18:17] kmcurry commented on #43
[#withnotfor](https://twitter.com/hashtag/withnotfor) reminder to ensure that members of the audience as well as human and social services communities are in the conversation from the beginning.

[2014-11-12 18:17] wbprice commented on #43
Editing the above comment to that effect +1

[2014-11-13 21:54] kmcurry commented on #43
Food Bank of Southeastern Virginia

[2014-11-13 21:54] kmcurry commented on #43
Search open211

[2014-11-15 18:25] ghost commented on #43
Using [today's meetup](http://www.meetup.com/Code4HR/events/213694792/) to help provide some resources on OpenStreetMap.  @jonahadkins will help put in some resources as well.
- [Foodbank of Southeastern Virginia and the Eastern Shore](https://www.openstreetmap.org/way/312967332)
- [Lighthouse Centre](https://www.openstreetmap.org/way/312974084)

[2014-11-15 18:30] jonahadkins commented on #43
Adding Shelters For Norfolk [From This List](http://www.homelessshelterdirectory.org/cgi-bin/id/city.cgi?city=Norfolk&state=VA) And [These Too!](http://norfolk_va.suntopia.org/homeless_shelters.php)

[2014-11-25 17:37] BretFisher opened #44 "CodeAcross 2015 Planning"
Add to the task list, discuss, help by working on a task and reporting back here. [Some other notes we have in Google Docs are here](https://drive.google.com/open?id=1bffDCS7T9Ey063vPkg-lyVruVBdmMwsf4VKleD5FCo4&authuser=0).
- [x] Determine format/schedule given theme ([Principles for 21st Century Government](http://www.codeforamerica.org/governments/principles/))
  - [Schedule](https://docs.google

[2014-11-25 17:39] kmcurry commented on #44
BIG :+1:

[2014-11-25 17:42] kmcurry commented on #44
http://www.meetup.com/Code4HR/events/218893449/

[2014-11-25 17:53] kmcurry commented on #44
Slover Library! Should be open and ready for us by then, right?

[2014-11-27 15:01] qwo opened #45 "Adopt organizational repo standards"
make repos easier to contribute to.

Have recommended guidelines across guidelines such as requiring
- Defined License
- Contributor Docs
- Include readme

at minimum across repos.
##

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/6574981-adopt-organizational-repo-standards?utm_campaign=plugin&utm_content=tracker%2F152477&utm_mediu

[2014-12-03 23:35] qwo commented on #45
thoughts @ryayak1460

[2014-12-04 00:04] BretFisher commented on #45
The default license across CfA seems to be MIT last I checked. It's also the licence I prefer after some research a few years back. I would say in order of priority:
1. get MIT licenses into every repo that doesn't have one (if there is a non-MIT in the repo already, that's fine)
2. then improve our readme's
3. archive old repo's we no longer work on by changing their description
4. for larger mor

[2014-12-17 21:57] qwo opened #46 "Change "We meet on IRC" to "We meet on Slack""
http://www.meetup.com/Code4HR/events/209432902/

[2014-12-24 02:13] BretFisher commented on #44
Thoughts on giveaways? Maybe have a sponsored t-shirt with a great custom design? Also need more workshop and roundtable ideas. Also could use some 2015-style prize ideas.

[2014-12-24 15:26] qwo commented on #44
i put a flat number of $500 for the budget allocation. would these all be sponsored prizes?

[2015-01-08 00:06] bcbarsness commented on #46
Updated Code4HR meetup to reflect migration to Slack.

[2015-01-08 00:06] #46 closed, assigned to nobody

[2015-01-08 00:30] qwo commented on #46
:+1:

[2015-01-22 01:23] jonahadkins commented on #44
Ill Run An OpenStreetMap Workshop -- Will Also Do Something With Open Data Or GIS 4 noobs or Whatever :+1: :earth_africa:

[2015-01-22 01:28] qwo commented on #44
@lynnaloo talked with @wbprice about a github workshop

edit: sent @github a request for swag.

[2015-01-24 00:36] qwo commented on #44
since <1 month, recommended the codeacross cfa page is our main event landing and the eventbrite at

http://code4hr.eventbrite.com will be the event signup.
http://www.codeforamerica.org/events/codeacross-2015/

[2015-01-24 01:43] kmcurry commented on #44
Which spaces are we in?

[2015-01-24 01:52] qwo commented on #44
i currently only reserved the one across from the state room on the 6th floor. see email for pictures.

spreading outspace will likely be one level down in the break off rooms. they are open to us having to reserve more spaces.. but none of them are in a singular space.

[2015-02-04 23:16] qwo commented on #35
@venisebaxter knocked those out of the park!

[2015-02-04 23:16] #35 closed, assigned to BretFisher

[2015-02-21 17:52] DaveHarrisVA commented on #43
All services on this sheet should have information verified and be added.  <a href="http://www.norfolkhomelessconsortium.org/cmc/street-sheet-march-2011.doc">Norfolk Street Sheet</a>

It MAY be feasible to include the NEST schedule into our data and display it based on the current date.  NEST is a winter sheltering program where participants rotate between churches each week sheltering the homeles

[2015-02-21 18:42] qwo commented on #43
Awesome Thanks for sharing this @DaveHarrisVA had no idea this existed. How do people use this data? who usually checks this out and this is pretty static right since the date on it is 2011

[2015-02-21 19:04] DaveHarrisVA commented on #43
Yes, it's typically given to homeless people to help them find services.  A dynamically generated "printout" based on current data sources (that can be made public) would be very helpful!

[2015-02-21 19:07] qwo commented on #43
are these typically given out by the churchs themselves. making data available in a way everyone can find would be awesome

[2015-02-21 19:11] qwo commented on #43
are these typically given out by the churchs themselves. making data available in a way everyone can find would be awesome

[2015-02-21 19:14] DaveHarrisVA commented on #43
Yes, by churches, service providers, soup kitchens, Union Mission, city offices, community services board, etc.  It may be possible to set up an appointment with the Norfolk Office to end Homelessness to discuss this project further and what would be most beneficial to service providers and homeless individuals since I don't think we should do it without input as to what they need

[2015-02-21 19:56] DaveHarrisVA commented on #43
@wbprice email me if you want to set up a meeting with the Norfolk Office to end Homelessness to discuss this since I have to leave the library today at 4PM or a meeting to discuss this idea before then

[2015-02-22 07:54] qwo opened #47 "Remove Popup Modals from Apps from CodeAcross"

[2015-02-22 13:55] wbprice commented on #47
Finished this a moment ago.

[2015-02-22 13:55] #47 closed, assigned to nobody

[2015-02-22 13:57] wbprice commented on #44
Veni vidi ædificavit.

[2015-02-22 13:57] #44 closed, assigned to nobody

[2015-02-22 14:02] wbprice commented on #43
@DaveHarrisVA I don't have your email address, but you can email me at bprice@codeforamerica.org.  If you're not already in there, I can always be reached by Slack as well. https://codeforva.slack.com/

[2015-02-22 18:54] DaveHarrisVA commented on #43
Check your email from Stanley Z yesterday

[2015-03-11 22:59] qwo opened #48 "Active Projects [March 15, 2015]"
Active
- hrtbus update https://github.com/Code4HR/hrt-bus-finder
- refactor OHI https://github.com/Code4HR/open-health-inspection-app

Incoming
- Governors Emails
- Homelessness
- ODU/Volunteer
- Health Index

cold
- open health api
- localart

Last updated
##

[2015-05-01 15:21] kmcurry opened #49 "Make Beautiful Maps and Tell Stories with See Click Fix Issues"
See Click Fix is a platform for communicating with city services.

See Click Fix is used mainly to report and track public work issues, ex., potholes, graffiti, street lamps, but it's not limited to public works issues.

See Click Fix has a public API that works in any city. Here are some example of output:

Places in a City:
https://seeclickfix.com/api/v2/places?address=Virginia+Beach+VA
https://

[2015-05-01 18:35] troy0820 commented on #49
Do you want to use leaflet for the map?

[2015-05-11 12:14] cityofhamptonweb commented on #49
The City of Hampton is wanting to develop an online map of its neighborhoods and tell the story of each one once you click on the pinned/outlined neighborhood. The idea is to tell the history, provide information on services/events, and view videos so that visitors who are interested in moving to Hampton can get a better feel (virtually) of the neighborhood. It sounds as if this application would

[2015-05-11 12:19] kmcurry commented on #49
@cityofhamptonweb That's awesome! Story Maps seems like a good tool for the job: http://storymaps.arcgis.com/en/ Another option is https://hrvawiki.org Someone at Colonial Williamsburg has done a great deal of content curation for that site. Do you already have the info for you locations or do you need to write and edit it?

[2015-05-11 12:20] kmcurry commented on #49
@troy0820 I have no requirements for type of technology other than the result should be responsive web (HTML+CSS+JavaScript). Ask Jonah about which type of map tech.

[2015-05-11 12:42] cityofhamptonweb commented on #49
@kmcurry Thanks so very much for the fast response! I will look into this and go from there; we do have the content but it's in the very beginning stages however I'm sure we'll be building on this as we go along. I very much appreciate your help on this.

[2015-05-11 13:11] kmcurry commented on #49
@cityofhamptonweb You are welcome! That's what we do at [Code4HR](http://code4hr.org).

[2015-05-19 01:06] qwo commented on #49
@cityofhamptonweb check out also http://storymap.knightlab.com/, its great

in action: http://hamptonroads.com/food/711606/2014/03/30-places-eat-virginia-you-die

[2015-05-20 14:56] cityofhamptonweb commented on #49
Wow!! This is pretty cool too…and very easy to use…drumming up something quick now…THANKS!

Thanks!
[horizontal line]
Dacia D. Hollis | Website Manager | Marketing | O: 757-728-2032
[hampton_signature]http://hampton.gov/

From: Stanley Zheng [mailto:notifications@github.com]
Sent: Monday, May 18, 2015 9:07 PM
To: Code4HR/tasks
Cc: Hollis, Dacia
Subject: Re: [tasks] Make Beautiful Maps and Tell Sto

[2015-05-20 15:36] qwo commented on #49
no problem. can't wait to see what you folks are producing!

[2015-05-30 19:32] kmcurry opened #50 "Ask Interesting Questions and Conduct Link Analysis on Governor of Virginia Emails"
Thanks to Library of Virginia, Virginian-Pilot and Code4HR we have an 800MB JSON document of emails sent by and to the Governor of Virginia under the Kaine Administration.

The purpose of obtaining this open government data is to analyze its contents from a variety of perspectives, inuding but not limited to:
- link analysis
- subject matter
- dates and times
- frequency and distribution

By formi

[2016-09-29 02:10] qwo opened #51 "Scrape and maintain Newport news Crime Data"
Its uploaded as a txt and wiped every week
https://www.nnva.gov/744/Daily-Offense-Reports

https://www2.nngov.com/newport-news/offenses/suntxt.htm
https://www2.nngov.com/newport-news/offenses/montxt.htm
https://www2.nngov.com/newport-news/offenses/tuetxt.htm
https://www2.nngov.com/newport-news/offenses/wedtxt.htm
https://www2.nngov.com/newport-news/offenses/thutxt.htm
https://www2.nngov.com/newpor

[2017-03-01 15:38] qwo opened #52 "Maintain our web presence"
clean up and come up with a strategy for maintaining code4hr web presence
- [x] tasks.code4hr.org cleanup
- [ ] update meetup  - https://www.meetup.com/Code4HR/events/237635744/
- [ ] newsletter -  http://codeforhamptonroads.us3.list-manage.com/subscribe?u=d304068c3618a482cc0574109&id=fa2684c96d
- [ ] twitter - http://twitter.com/code4hr
- [ ] facebook - https://www.facebook.com/code4hr/
- [ ] git

[2017-03-01 15:41] qwo opened #53 "Redeploy Migrate GovEmails | Dockerize"
https://github.com/Code4HR/Governors-Emails

^ above migration to Azure Docker Swarm setup.

Collabing with @BretFisher to find out what needs to be done on docker side

Make
- [x] docker-compose docs locally
- [ ] setup swarm servers on Azure
- [ ] turn off digital ocean instance

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/9234

[2017-03-01 23:53] qwo commented on #21
@kmcurry I'm going to close this.

[2017-03-01 23:53] #21 closed, assigned to BretFisher

[2017-03-01 23:56] qwo commented on #22
@BretFisher @kmcurry closing this we have a data portal now.

[2017-03-01 23:56] #22 closed, assigned to nobody

[2017-03-01 23:56] qwo commented on #23
closing

[2017-03-01 23:56] #23 closed, assigned to nobody

[2017-03-01 23:59] #24 closed, assigned to nobody

[2017-03-01 23:59] qwo commented on #30
closing.

[2017-03-01 23:59] #30 closed, assigned to nobody

[2017-03-02 00:02] qwo commented on #33
closing

[2017-03-02 00:02] #33 closed, assigned to nobody

[2017-03-02 00:03] #49 closed, assigned to nobody

[2017-03-02 00:03] qwo commented on #39
rethink ideas and role of uservoice.

[2017-03-02 00:05] qwo commented on #42
part of cleaning up issues.

[2017-03-02 00:05] qwo commented on #48
need to clean this up and delete it

[2017-03-02 00:05] #48 closed, assigned to nobody

[2017-03-02 00:07] qwo commented on #51
I maintain this kind of.

https://github.com/Code4HR/HRVA-Crime-Data

[2017-03-02 00:07] #51 closed, assigned to qwo

[2017-03-02 00:08] qwo commented on #45
adding https://github.com/blog/1184-contributing-guidelines to the project standardize across apps would me.

[2017-03-02 00:41] qwo commented on #43
closing

[2017-03-02 00:41] #43 closed, assigned to nobody

[2017-03-02 01:26] qwo opened #54 "Retag all of Code4hr repos"
Some tags
- deprecated
- official
- hackathon
- hackathon
- PROJECT_BASED

[2017-03-02 02:08] #54 closed, assigned to nobody

[2017-05-16 22:29] qwo opened #55 "Add Organizer Faces to Code4hr.org Website"
<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/45264636-add-organizer-faces-to-code4hr-org-website?utm_campaign=plugin&utm_content=tracker%2F152477&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F152477&utm_medium=issues&utm_source=g